
<div id="container">
  <img src="/img/burger.png">
  <h1>Eat-Da-Burger!</h1>

  <div id="scoreboard">
    <ol>
      {{#each customers}}
        <li id="{{id}}" data-eaten="{{burgers_eaten}}">
          {{customer_name}}: {{burgers_eaten}} burger(s) eaten!
        </li>
      {{/each}}
    </ol>
  </div>

  <div id="listContainer">
    <ul>
      Not Devoured
      {{#each burgers}}
        {{#unless devoured}}
          <li  id="{{id}}" >
            <form action="/api/customers" method="POST">
              <label for="customerInput"></label>
              <input id="customerInput" type="text" name="customer_name" class="leftSide">
              <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}" type="submit">Devour It!</button>
            </form>
            <br>
            <a class="leftSide">#{{id}}: {{burger_name}}</a>
          </li>
        {{/unless}}
      {{/each}}
    </ul>

    <ul>
      Devoured
      {{#each burgers}}
        {{#if devoured}}

          <li>
            <a class="rightSide">#{{id}}: {{burger_name}}</a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>


  <form action="/api/burgers" method="POST">
    <label for="burgerInput">Add a burger!</label>
    <br>
    <input id="burgerInput" type="text" name="burger_name">
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
</div>